.main-content{
  margin-top: 120px;
  min-height: 80vh; 
}
.footer{
  margin-top: 80px;
}

.dashboard .date-row{
    margin-top: 40px;
}
.dashboard .filters{
    font-size: 14px;
}
.dashboard .container {
  max-width: 1300px; 
  margin-top: 80px;
  margin-bottom: 0px;
  /* margin-right: 0px; */
  overflow-x: auto; /* to enable horizontal scrolling on small screens */
}
.table-hover tbody tr:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px);
  transition: all 0.2s ease-in-out;
  background-color: #f9f9f9; 
  z-index: 1;
  position: relative;
}
.landing-page .hero {
  min-height: 70vh;
  background: linear-gradient(135deg, #f0f4f8, #ffffff);
}

.landing-page .card {
  transition: transform 0.2s ease;
}
.landing-page .card:hover {
  transform: translateY(-5px);
}
.nav-list {
  list-style: none;
  padding-left: 0;
  cursor: pointer;
}

.nav-item {
  padding: 0.5rem 0;
  position: relative;
  font-weight: 500;
  color: white;
}

.nav-item:hover,
.nav-item.active {
  color: #f8f9fa;
}

.nav-item.active::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left:50%;
  height: 2px;
  width: 60%;
  background-color: #ffffff;
  border-radius: 1px;
  transform: translateX(-50%);
}
